/* var */
:root {
  --color-white--: white;
  --color-black--: black;
  --color-1--: #cdf5fd;
  --color-2--: #a0e9ff;
  --color-3--: #89cff3;
  --color-4--: #00a9ff;
  --shadow--: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}
/* font */
@font-face {
  src: url(../static/font/yekan.woff);
  font-family: iran;
}
* {
  box-sizing: border-box;
  font-family: iran, cursive;
}
body {
  background-color: var(--color-1--);
  width: 100%;
  height: 100vh;
  margin: 0;
}
/* header */
header {
  background-color: var(--color-3--);
  box-shadow: var(--shadow--);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 0;
  padding: 0 3rem;
}
header > section > h1 {
  color: var(--color-black--);
}
header > nav > button {
  background-color: var(--color-3--);
  border: 2px solid var(--color-black--);
  outline: none;
  cursor: pointer;
  padding: 0.5rem 1.5rem;
  margin: 0 0.2rem;
}
/* table */
main {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 4rem 0;
}
main > table {
  border: 2px solid var(--color-black--);
  width: 40%;
  margin: 0 auto;
  padding: 0.5rem;
}
main > table > thead tr > th {
  text-align: center;
  padding: 0.5rem 0;
}
#uniqe {
  border-bottom: 2px solid var(--color-black--);
}
main > table > tbody tr > td {
  text-align: center;
}
main > table > tbody tr > td i {
  cursor: pointer;
}
/* modal */
#modal {
  background-color: var(--color-3--);
  box-shadow: var(--shadow--);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 50%;
  height: 250px;
  border-radius: 0.5rem;
  z-index: 1000;
  position: absolute;
  transform: translate(-50%, 0);
  top: 100%;
  left: 50%;
  display: none;
}
#modal > main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  width: 50%;
  height: 100%;
  margin: 0;
  padding: 1.5rem 0;
}
#modal > main > div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
#modal > main > div > lable {
  padding: 0.2rem;
}
#modal > main > div > input {
  outline: none;
  border: none;
  margin: 0.3rem;
}
#modal > aside {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
  width: 50%;
  height: 100%;
  padding: 0.5rem;
}
#modal > aside > div > button {
  background-color: var(--color-3--);
  border: 2px solid var(--color-black--);
  outline: none;
  cursor: pointer;
  padding: 0.3rem 0.5rem;
  margin: 0 0.2rem;
}
#modal.show {
  display: flex;
  transform: translate(-50%, -50%);
  top: 40%;
  left: 50%;
}
